<%= form_for(charge) do |f| %>
  <% if charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% charge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estate_code %>
    <%= f.text_field :estate_code %>
  </div>

  <div class="field">
    <%= f.label :period %>
    <%= f.select :period, ['Quarterly', 'Twice_a_year'] %>
  </div>

  <div class="field">
    <%= f.label :due_date %>
    <%= f.date_select :due_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

